<% @organization_graph = get_graph.get_object(@organization.facebook_id) %>
<div class="organization-box" style="min-width: 400px;">
  <div class="organization-img">
    <%= image_tag get_graph.get_picture(@organization.facebook_id), height: '80' %>
  </div>
  <div>
    <%= link_to @organization_graph['name'], @organization %>
  </div>
  <div>
    <% begin %>
    <%= @organization_graph['location']['city'] %>, <%= @organization_graph['location']['state'] %>
    <% rescue %>
    no location provided
    <% end %>
  </div>
  <div>
    <% 
      website = @organization_graph['website'];
      if !website.starts_with?('http') 
        website = 'http://' + website
      end 
    %>
    <%= link_to @organization_graph['website'], website %>
  </div>
  <div class="organization-tags">
    Tags here
  </div>
  <div>
    <%= link_to "Donate", new_organization_donation_path(@organization) %>
  </div>
</div>