<div class="organizations" style="width=100%; border: 1px border solid;">
  <% for @organization in @organizations %>
    <% @organization_graph = get_graph.get_object(@organization.facebook_id) %>
    <div style="float: left; border: 1px solid black; margin-bottom: 10px; display: inline-block; width: 33%;">
      <div style="float: left; display: inline-block; border: 1px solid black;">
        <%= image_tag get_graph.get_picture(@organization.facebook_id), height: '80' %>
      </div>
      <div style="float: left; display: border: 1px solid black; width=300px;">
        <div style="clear: both; border: 1px solid black;">
          <%= link_to @organization_graph['name'], @organization %>
        </div>
        <div style="clear: both; border: 1px solid black;">
          <% begin %>
          <%= @organization_graph['location']['city'] %>, <%= @organization_graph['location']['state'] %>
          <% rescue %>
          no location
          <% end %>
        </div>
        <div style="clear: both; border: 1px solid black;">
          <%= link_to @organization_graph['website'], @organization_graph['website'] %>
        </div>
      </div>
      <div style="clear: both; border: 1px solid black; width: 300px;">
        <%= @organization_graph['mission'] %>
      </div>
      <div style="clear:both; border: 1px solid black;">
        Tags here
      </div>
    </div>
  <% end %>  
</div>

