<div class="organization-profile-container">
  <p>
    <%= image_tag get_graph.get_picture(@organization.facebook_id), height: '80' %>
  </p>
  <p>
    <%= @organization_graph['name'] %>
  </p>
  <p>
    <% begin %>
      <%= @organization_graph['location']['city'] %>, <%= @organization_graph['location']['state'] %>
    <% rescue %>
      no location
    <% end %>
  <p>
  <p>
    <%= link_to @organization_graph['website'], @organization_graph['website'] %>
  </p>
  <p>
    <%= @organization_graph['mission'] %>
  </p>
  <p>
    <%= link_to "Donate", new_organization_donation_path(@organization) %>
  </p>
</div>
